# Ignore node_modules directories
node_modules/

# If you want to ignore specific backend files, you can add them here:
# .env
# backend/.env
frontend/public
# If you want to ignore build files (frontend):
build/

# Ignore logs and temporary files
*.log
